<%= link_to 'Home', root_path %> | 
<%= link_to 'Breweries', articles_path %> | 
<%= link_to 'New Brewery', new_article_path %> | 
<%= link_to 'Edit', edit_article_path %> |
<%= link_to 'Delete', article_path,
              method: :delete,
              data: { confirm: 'Are you sure?' } %> | 
<%= link_to 'Back', articles_path %>


<% @article.each do |brewery| %>
	<p>
	<strong>Name:</strong>
	<%= brewery.title %>
	</p>
	<p>
	<strong>Location:</strong>
	<%= brewery.text %>
	</p>
	<br>
<% end %>
